<div *ngIf="isLogin" class="container ml-0">
    <div class="wrapper fadeInDown ">


        <div class="form-row pl-5 pb-2">

            <div class="form-col  mt-3 p-5">
                <img src="{{imgVistaPreviaPagare}}" alt="Pagaré">

            </div>

            <div class="form-col  p-5  paginaScreem">

                <div class="h-100 align-middle" id="formContent">
                    <div class="mb-5 mt-5">
                        <strong> Tu Oficina Virtual:</strong>
                    </div>

                    <div class="mb-5">
                        <strong>
                             #{{solicitudCredito.numeroSolicitud}} <br>
                            Imprimir tu Solicitud
                        </strong>
                        <br> Podrás acercarte a cualquiera<br> de nuestros aliados para entregar<br> tu solicitud con los anexos<br> adjuntos.
                        <br>
                    </div>

                    <div class="text-danger mb-5">
                        *** Nota: Entregar: Letras, Pagares y la <br> Solicitud de crédito con firmas y <br>huellas.
                    </div>


                    <div class=" mb-0">
                        <button class="btn btn-light ml-5 border-dark" (click)="goToEstado()">Regresar</button>
                        <button class="btn btn-primary ml-4" (click)="generateReportPDF()">Descargar</button>

                    </div>

                </div>


            </div>

        </div>

    </div>

</div>