#formContent {
    background: #fff;
    padding: 20px;
    max-width: 500px;
    position: relative;
    text-align: center;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.paginaScreem {
    height: 650px;
    width: 450px;
}