<div class="container ml-0">
    <div class="wrapper fadeInDown ">

        <div class="form-row p-25 w-100 mt-5" id="divHeader">
            <div class="form-col mr-5">
                <label class="form-check-label">Pagos en Linea <strong>CREO</strong> </label>
            </div>

            <div class="form-col w-50 ">

            </div>

        </div>


        <div id="formContent" class="mt-3 w-100 mb-5">
            <!-- Login Form -->
            <form name="form" #f="ngForm" novalidate (ngSubmit)="pagar()">

                <div class="form-row">

                    <div class="form-col mr-5 mb-4 col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5" style="font-size:16px;">
                        <label class="form-check-label">Credito Oportuno</label>
                    </div>

                    <div class="form-col  mb-4  col-12 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                        <label class="form-check-label" title="pago inmediato">Pago Inmediato</label>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-col mr-5 col-6 col-sm-5 col-md-5 col-lg-5 col-xl-5 ">
                        <label
                            class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 "
                            placeholder="Valor a pagar">Valor a pagar</label>

                    </div>

                    <div class="form-col col-6 col-sm-5 col-md-5 col-lg-5 col-xl-5">

                        <input type="number"
                            class=" form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 "
                            id="personasACargo" name="personasACargo" title="personas a cargo"
                            placeholder="personas A Cargo" [(ngModel)]="valorPago" required>

                    </div>
                </div>

                <div class="form-row">

                    <div class="form-col col-9 col-sm-7 col-md-7 col-lg-7 col-xl-7">
                        <button class="btn btn-light  border-dark mt-5" (click)="generarComprobante()">Generar
                            comprobante</button>
                    </div>
                    <div class="form-col col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <button type="submit" class="btn btn-success  mt-5">Pago</button>
                    </div>

                </div>


            </form>
        </div>

        <div id="formContent2" class="mt-3 w-100 mb-5">
            <!-- Login Form -->
            <form name="form" #f="ngForm" novalidate (ngSubmit)="ingresarPse()">

                <div class="form-row">

                    <div class="form-col mr-5 mb-4" style="font-size:16px;">
                        <label class="form-check-label">Credito Oportuno</label>
                    </div>

                    <div class="form-col mr-2 mb-4 ml-5">
                        <label class="form-check-label">Valor a pagar</label>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <label
                            class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 "
                            placeholder="Valor a pagar">Envio de comprobante</label>

                    </div>

                    <div class="form-col  ">

                        <input type="email"
                            class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 "
                            id="personasACargo" name="personasACargo" placeholder="Correo electronico" required>

                    </div>
                </div>

                <div class="form-row">

                    <div class="form-col mr-5 ">
                        <select
                            class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 "
                            id="tipoVivienda" name="tipoVivienda" required>

                            <optgroup label="Selecciona el Banco">
                                <option value="" disabled selected hidden>Selecciona el Banco</option>
                                <option value="bancolombia">Bancolombia</option>
                                <option value="bancoColpatria">Banco Colpatria</option>
                            </optgroup>

                        </select>
                    </div>

                    <div class="form-col  ml-5  mr-0">
                        <button type="submit" class="btn btn-success ml-4 mt-5">Ingresar</button>
                    </div>

                </div>


            </form>
        </div>

    </div>
</div>