#formContent,
#formContent2 {
    background: #fff;
    padding: 30px;
    max-width: 500px;
    position: relative;
    text-align: left;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}


#formContent2 {
    display: none;
}

#divHeader {
    max-width: 500px;
    padding: 30px;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}
@media (min-width: 360px ) { 
 

   label{
       margin-left: 0px;
   }
   *{
       margin-left: 0px;
   }

}

@media (min-width: 1200px ) { 
   
    input[type*="personas a cargo"]{
        margin-left: 3em;
    }

   
 
 }
 @media (min-width: 992px ) { 
  

    input[type*="personas a cargo"]{
        margin-left: 3em;
    }
 
 }
 @media (min-width: 768px ) { 
  
    input[type*="personas a cargo"]{
        margin-left: 3em;
    }
 
 }

 @media (min-width: 576px ) { 


 
 }

 @media (min-width: 575px ) { 
    

 
 }

 @media (min-width: 360px ) { 
    #formContent{
        justify-content: center;
    }

 
}






