<div class="container mt-5">

    <div class="row justify-content-center">
        <div *ngIf="validation.mensaje !== 'debes ingresar' " class=" col-6  wrapper fadeInDown">
            <div id="formContent1">

                <!-- Login Form -->
                <form name="form" #f="ngForm" novalidate (ngSubmit)="validarUsuario()">

                    <div class="form-group">
                        <label class="mt-3 mb-4">Bienvenido a Crédito oportuno</label><br>
                        <label class="font-weight-bold" style="font-size: 16px;">Ingresa tu número de
                            identificación.</label><br />
                        <label>Así podemos saber si debes ingresar o <br> registrarte.</label>

                    </div>

                    <div class="form-group">

                        <select class="form-control border-top-0  border-left-0  border-right-0 border-primary w-75" id="tipoIdentificacion" name="tipoIdentificacion" #tipoIdentificacion="ngModel" placeholder="Cedula de ciudadania" [(ngModel)]="personalData.tipoIdentificacion"
                            required>
                                <option *ngFor="let tipoDocumento  of tiposDeDocumento" value="{{tipoDocumento}}">{{tipoDocumento}}</option>
                            </select>

                        <div *ngIf="(tipoIdentificacion.invalid && (tipoIdentificacion.dirty || tipoIdentificacion.touched))" class="alert alert-danger">
                            campo requerido
                        </div>

                    </div>

                    <div class="form-group">
                        <input type="text" class="form-control  border-top-0  border-left-0  border-right-0 border-primary w-75" id="identificacion" name="identificacion" #identificacion="ngModel" placeholder="Numero de identificacion" [(ngModel)]="personalData.identificacion"
                            required>

                        <div *ngIf="identificacion.invalid && (identificacion.dirty || identificacion.touched)" class="alert alert-danger">
                            campo requerido
                        </div>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="loginButton font-weight-bold w-75" [disabled]="!f.valid">Continuar</button>
                    </div>

                </form>
            </div>
        </div>

        <div *ngIf="validation.mensaje !== 'debes ingresar' " class=" col-5 fadeInDown mt-1 justify-content-center align-middle">


            <img class="justify-content-center align-middle" src="{{ImagenAutenticacion}}" alt="autenticacion de usuario" width="300" height="300" />


            <label class="mt-5 text-center" style="font-size: 16px;"><strong>¡Tu Oficina Virtual:</strong> haz pagos,
                crédito oportuno, consultas y mucho más!</label>

        </div>

        <div *ngIf="validation.mensaje == 'debes ingresar' && validation.codigoVerificacion == ''  " class=" col-6  wrapper fadeInDown">
            <div id="formContent2 ">


                <form name="form" #f="ngForm" novalidate (ngSubmit)="validNumberPhone()">


                    <div class="form-group">

                        <label class="font-weight-bold" style="font-size: 16px;">Ingrese numero de celular</label><br />
                        <input type="text" class="form-control border-top-0  border-left-0  border-right-0 border-primary" id="telefonoFijo" name="telefonoFijo" #telefonoFijo="ngModel" placeholder="Ingrese numero de celular" [(ngModel)]="personalData.telefonoFijo" required>


                    </div>


                    <div class="form-group" [ngClass]="{'d-none': !f.valid  || g.valid}">

                        <button type="submit" class="loginButton font-weight-bold w-75" [disabled]="!f.valid">Continuar</button>

                    </div>

                </form>


                <form name="form" #g="ngForm" novalidate (ngSubmit)="validEmail()">

                    <div class="form-group">
                        <label class="font-weight-bold" style="font-size: 16px;">Ingrese cuenta de correo</label><br />
                        <input type="text" class="form-control  border-top-0  border-left-0  border-right-0 border-primary" id="correo" name="correo" #correo="ngModel" placeholder="Ingrese cuenta de correo" [(ngModel)]="personalData.correo" required>

                    </div>


                    <div class="form-group" [ngClass]="{'d-none': !g.valid || f.valid}">
                        <button type="submit" class="loginButton font-weight-bold w-75" [disabled]="!g.valid">Continuar</button>
                    </div>

                </form>
            </div>
        </div>



        <div *ngIf="validation.codigoVerificacion !== '' " class="mt-3 w-100 mb-5 justify-content-center align-middle text-center" id="formAutenticacion">
            <form name="form" #f="ngForm" novalidate (ngSubmit)="validarCodigo()">

                <div>
                    <label class="text-left mt-3 mb-3">
                        <strong> Ingrese el código de verificación <br> enviado a tu xxxx </strong>
                    </label>
                </div>



                <input type="text" class="text-center mt-3  mb-5 mr-2 formCodigoAutenticacion justify-content-center align-middle" title="Codigo de autenticacion " required maxlength="1 " id="cod1" name="cod1" #cod1="ngModel" [(ngModel)]="codigos[0]">
                <input type="text" class="text-center mt-3  mb-5 mr-2 formCodigoAutenticacion justify-content-center align-middle" title="Codigo de autenticacion " required maxlength="1 " id="cod2" name="cod2" #cod2="ngModel" [(ngModel)]="codigos[1]">
                <input type="text" class="text-center mt-3  mb-5 mr-2 formCodigoAutenticacion justify-content-center align-middle" title="Codigo de autenticacion " required maxlength="1 " id="cod3" name="cod3" #cod3="ngModel" [(ngModel)]="codigos[2]">
                <input type="text" class="text-center mt-3  mb-5 mr-2 formCodigoAutenticacion justify-content-center align-middle" title="Codigo de autenticacion " required maxlength="1 " id="cod4" name="cod4" #cod4="ngModel" [(ngModel)]="codigos[3]">
                <input type="text" class="text-center mt-3  mb-5 mr-2 formCodigoAutenticacion justify-content-center align-middle" title="Codigo de autenticacion " required maxlength="1 " id="cod5" name="cod5" #cod5="ngModel" [(ngModel)]="codigos[4]">
                <input type="text" class="text-center mt-3  mb-5 mr-2 formCodigoAutenticacion justify-content-center align-middle" title="Codigo de autenticacion " required maxlength="1 " id="cod6" name="cod6" #cod6="ngModel" [(ngModel)]="codigos[5]">

                <div>
                    <label class="text-secondary text-center">Tienes <strong> 60</strong> segundos para digitarlo.</label>
                </div>




                <div class="form-group ">
                    <button type="submit " class="loginButton font-weight-bold w-75 " [disabled]="!f.valid">Continuar</button>
                </div>




            </form>
        </div>



        <div *ngIf="errorMsg !=='' " class=" col-3 fadeInDown justify-content-center">

            <div class="alert alert-danger mt-5 ">
                {{ errorMsg }}
            </div>


        </div>

    </div>




</div>