* {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

#icon {
    width: 60%;
    padding: 15px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

#formContent1,
#formContent2 {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 550px;
    position: relative;
    text-align: left;
}

.formCodigoAutenticacion {
    background: white;
    padding: 5px;
    width: 45px;
    height: 45px;
    position: relative;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -1px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#formAutenticacion {
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 400px;
    position: relative;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.loginButton {
    background-color: #0D4193;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 8px;
}

.loginButton:hover {
    background-color: #4872b6;
}