<div *ngIf="isLogin" class="container ml-0">
    <div class="wrapper fadeInDown ">

        <div class="form-row">
            <h1>solicitudes</h1>
        </div>

        <div class="form-row  p-25 w-100 ">

            <div *ngFor="let solicitudCredito of solicitudesCredito" class="form-col  p-25 bg-light  border border-secondary  ml-5 mr-5 mt-5 mb-5 border-radius">


                <div class="mt-2 mb-2 ml-2 mr-2">
                    <label class="form-check-label d-block">#{{solicitudCredito.numeroSolicitud}}</label>
                    <label class="form-check-label d-block">Numero de solicitud </label>
                    <label class="form-check-label d-block">Monto {{solicitudCredito.entrega.valorSolicitado}}</label>
                    <label class="form-check-label d-block">Estado </label>
                    <a routerLink="/solicitudDeCredito/entrega/{{solicitudCredito.numeroSolicitud}}" class="mt-3 text-center">Ver detalle</a>
                </div>
            </div>

        </div>
    </div>
</div>