<div *ngIf="isLogin" class="container ml-0">
    <div class="wrapper fadeInDown ">




        <div id="formContent" class="mt-3 w-100 mb-5">

            <label class="form-check-label align-text-middle text-white mb-3">Credito Pre aprobado</label><br>
            <hr>
            <label class="form-check-label align-text-middle"><strong>$3000.000</strong></label><br>


            <button class="mt-5" id="loginButton" (click)="enterPersonalData()"><strong>Quiero Tomarlo</strong></button>

        </div>

        
        <div id="formContent" class="mt-3 w-100 mb-5">

            <label class="form-check-label align-text-middle text-white mb-3">Credito Oportuno</label><br>
            <hr>
            <label class="form-check-label align-text-middle"><strong>$8000.000</strong></label><br>


            <button class="mt-5" id="loginButton" (click)="enterPersonalData()"><strong>Quiero Tomarlo</strong></button>

        </div>


    </div>
</div>