*{

    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
      
}



.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
}



#divHeader,#formContent {
    max-width: 600px;
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0,0,0,0.3);
    box-shadow: -3px 3px 3px 3px rgba(0,0,0,0.3);
}

.loginButton{
   
    border: none;
   
    padding: 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
   
    
}

#NumeroSolicitud{

    max-width: 600px;
    padding: 0px;
    
}

.credito{

    width: 45%;
}





