<div *ngIf="isLogin" class="container ml-0">
    <div class="wrapper fadeInDown ">

        <div class="form-group align-text-middle mt-3">
            <label class="form-check-label align-text-middle"><strong>Solicitud de Crédito</strong></label><br>
            <label class="form-check-label align-text-middle mb-4">Completada</label><br>
        </div>

        <div class="form-row p-25 w-100" id="divHeader">
            <div class="form-col ">
                <label class="form-check-label align-text-middle">! solicitud en <strong>CREO</strong>
                    completada¡</label>
            </div>


        </div>
        <div class="form-row  w-100 mt-2  mb-2 " id="NumeroSolicitud">
            <div class="form-col mr-5 credito col-10 col-sm-6 col-md-5 col-lg-5 col-xl-5 ">

                <label class=" ml-1 form-control border-top-0 border-left-0 border-right-0 border-primary mt-2">
                    Número de Solicitud
                </label>
            </div>

            <div class="form-col credito mr-0 col-10 col-sm-6 col-md-5 col-lg-5 col-xl-5">

                <label class="form-control border-top-0 border-left-0 border-right-0 border-primary mt-2">{{id}}
                </label>
            </div>

        </div>



        <div id="formContent" class="mt-3 w-100 mb-5">


            <label class="form-check-label align-text-middle"><strong>Tu Oficina Virtual</strong></label><br>
            <label class="form-check-label align-text-middle mb-4">Agradecemos tu interés en nuestros servicios, en la
                opción estado de la solicitud<br>
                podrás validar como va el proceso.</label><br>

            <button (click)="estadoSolicitud()" class="btn btn-light border border-secondary  mr-3 mt-3">Estado solicitud</button>

        </div>

        <div class="form-row">

            <button (click)="solicitud()" type="submit" class="btn btn-primary font-weight-bold  mr-3 " style="float:right;">Terminar</button>

        </div>



    </div>
</div>