<div class="container ml-0">
    <div class="wrapper fadeInDown ">

        <div class="form-group align-text-middle mt-3">
            <label class="form-check-label align-text-middle"><strong>Actualizacion de información</strong></label><br>
            <label class="form-check-label align-text-middle mb-4">Ingreso de datos personales</label><br>
        </div>

        <div class="form-row p-25 w-100" id="divHeader">
            <div class="form-col mr-5 ">
                <label class="form-check-label">!Estas muy cerca de ser parte de <strong>CREO</strong> </label>
            </div>

            <div class="form-col w-50 ">

            </div>

        </div>


        <div id="formContent" class="mt-3 w-100 mb-5">

            <form name="form" #f="ngForm" novalidate (ngSubmit)="registrar()">



                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <input type="text" class="form-control   border-top-0  border-left-0  border-right-0 border-primary  " id="ciudad" name="ciudad" placeholder="Ciudad" [(ngModel)]="personalData.ciudad" required>
                    </div>

                    <div class="form-col w-50 ">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary " id="departamento" name="departamento" placeholder="Departamento" [(ngModel)]="personalData.departamento" required>
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <input type="text" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="personalData.nombre" required>
                    </div>
                    <div class="form-col w-50">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2" id="apellidos" name="apellidos" placeholder="Apellidos" [(ngModel)]="personalData.apellidos" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col mr-5 " style="font-size:16px;">
                        <input type="text" style="font-size:1em;" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="identificacion" name="identificacion" placeholder="Identificacion" [(ngModel)]="personalData.identificacion" required>
                    </div>


                    <div class="form-col mr-2 w-25">

                        <select class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 " id="tipoVivienda" name="tipoVivienda" [(ngModel)]="personalData.tipoVivienda" required>

                            <option *ngFor="let tipoVivienda of viviendas" value="{{tipoVivienda}}">
                                {{tipoVivienda}}</option>
                        </select>
                    </div>

                    <div class="form-col w-25">
                        <input type="number" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2" id="numeroMovil" name="numeroMovil" placeholder="Numero Celular" [(ngModel)]="personalData.numeroMovil" required>
                    </div>

                </div>

                <div class="form-group">

                    <div *ngIf="f.submitted && isErrorUser" class="form-col  alert alert-danger mt-3">
                        {{ errorMsg }}
                    </div>

                    <div class="form-col ">
                        <button type="submit" class="loginButton font-weight-bold  mr-3 w-50"  [disabled]="!f.valid">Registrarse</button>
                    </div>



                </div>


            </form>
        </div>
    </div>
</div>