<div class="container ml-0">
    <div class="wrapper fadeInDown ">
        <nav class=" navbar navbar-expand-md navbar-dark navbar-custom p-0  w-100 mt-0 mb-2 border-top-0  border-left-0  border-right-0 border border-secondary "
            [ngClass]="{'inicioSesion': !isHome}">


            <a href="/"><img src="{{logo}}" width="100%" height="116"
                    style="border-top-right-radius:40px;border-bottom-right-radius:40px;" alt="logoCreo"></a>




            <span *ngIf="isLogin" style="font-size: 20px;" class="text-white ml-5">Hola,
                <strong>{{currentUser}}</strong></span>



            <button class=" bg-secondary navbar-toggler mr-2" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>



            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav ml-auto">
                    <div class="form-group align-text-middle mt-4 ml-3">
                        <a *ngIf="isHome" aria-label="Angular on twitter" class=" align-text-middle mr-5 mt-4"
                            target="_blank" rel="noopener" href="https://www.youtube.com/user/GrupoBancolombia"
                            title="YouTube">

                            <img src="{{imgIconYouTube}}" alt="Youtube" class="social-icon" height="40">
                        </a>
                    </div>

                    <div class="form-group align-text-middle mt-4 ml-3">
                        <a *ngIf="isHome" aria-label="Angular on twitter" class="mr-5 mt-4" target="_blank"
                            rel="noopener" href="https://www.facebook.com/Nadal" title="Facebook">

                            <img src="{{imgIconfacebook}}" alt="Facebook" class="social-icon" height="40">
                        </a>
                    </div>

                    <div class="form-group align-text-middle mt-4 ml-3">
                        <a *ngIf="isHome" aria-label="Angular on twitter" class="mr-5 mt-4" target="_blank"
                            rel="noopener" href="https://twitter.com/RafaelNadal" title="Twitter">

                            <img src="{{imgIconTwiter}}" alt="Twitter" class="social-icon" height="40">
                        </a>
                    </div>

                    <div class="form-group align-text-middle mt-4 ml-3">

                        <a *ngIf="isHome" aria-label="Angular on twitter" class="mr-5 mt-4" target="_blank"
                            rel="noopener" href="https://www.instagram.com/rafaelnadal/?hl=es-la" title="Instagram">

                            <img src="{{imgIconInstagram}}" alt="Instagram" class="social-icon" height="40">
                        </a>

                    </div>

                    <img *ngIf="!isHome && !isLogin" class="mt-2" src="{{logo2}}" alt="logoCreo" width="80" height="80">

                    <div *ngIf="!isHome && !isLogin" class="form-group align-text-middle mt-4 ml-3">
                        <label class="form-check-label align-text-middle  font-weight-bold text-white"
                            style="font-size: 20px;"><strong>¡ Crédito oportuno !</strong></label><br>
                        <label class="form-check-label align-text-middle  text-white" style="font-size: 20px;">Te
                            ayudamos a
                            cumplir tus
                            metas</label><br>
                    </div>

                    <div *ngIf="isLogin" title="pagar" class="form-group align-text-middle mt-1 ">
                        <img (click)="pagar()" class=" d-block  rounded-circle mx-auto" src="{{pago}}" alt="logoCreo"
                            width="70" height="70">
                        <label class="form-check-label text-center  text-white " style="font-size: 20px;">
                            Pagar</label><br>
                    </div>

                    <div *ngIf="isLogin" class="form-group align-text-middle mt-1 ml-4 mr-4">
                        <img (click)="solicitarCredito()" class="d-block mx-auto" src="{{solicitudCredito}}"
                            alt="logoCreo" width="70" height="70">
                        <label class="form-check-label text-center  text-white" style="font-size: 20px;">Solicitar
                            Crédito</label><br>
                    </div>

                    <div *ngIf="isLogin" class="form-group align-text-middle mt-1 ">
                        <img (click)="estadoSolicitud()" class="d-block mx-auto" src="{{estadoDeSolicitud}}"
                            alt="logoCreo" width="70" height="70">
                        <label class="form-check-label text-center  text-white mr-2" style="font-size: 20px;">Estado
                            solicitud</label><br>
                    </div>


                    <li class="nav-item dropdown mr-4 ">


                        <div *ngIf="isHome && !isLogin"
                            class="form-group align-text-middle mt-4  col-6 col-sm-5 col-md-12 col-lg-12 col-xl-12">
                            <a class="nav-link rounded-lg text-white mb-2 mt-4  inicioSesion" (click)="ingresar()"
                                style="cursor: pointer" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                Ingresar
                            </a>


                            <div class="">
                                <label class="mr-3">¿Cliente nuevo? </label>
                            </div>
                            <div class="">
                                <a (click)="registrar()" class="text-dark" routerLink="/">Regístrate aquí</a>
                            </div>

                        </div>


                        <div class="form-group  mt-4 ml-3 w-100 align-text-middle">
                            <a *ngIf="isLogin" class="nav-link rounded-lg text-white inicioSesion text-center"
                                style="cursor: pointer;font-size:16px;" (click)="logOut()" routerLink="/">Cerrar
                                sesión</a>

                        </div>



                    </li>

                </ul>
            </div>


        </nav>

    </div>
</div>