<div *ngIf="isLogin" class="container ml-0">
    <div class="wrapper fadeInDown ">

        <div class="form-group align-text-middle mt-3">
            <label class="form-check-label align-text-middle"><strong>Solicitud de Crédito</strong></label><br>
            <label class="form-check-label align-text-middle mb-4">Ingreso de datos personales</label><br>
        </div>

        <div style="width: 600px;">
            <app-update-tabs *ngIf="isUpdate"></app-update-tabs>
        </div>

        <div class="form-row p-25 w-100" id="divHeader">
            <div class="form-col mr-5 ">
                <label class="form-check-label">!Estas muy cerca de ser parte de <strong>CREO</strong> </label>
            </div>

            <div class="form-col w-50 ">

            </div>

        </div>


        <div id="formContent" class="mt-3 w-100 mb-5">
            <!-- Login Form -->
            <form name="form" #f="ngForm" novalidate (ngSubmit)="registrar()">

                <div class="form-row">

                    <div class="form-col mr-5 " style="font-size:16px;">
                        <input type="text" style="font-size:1em;" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="identificacion" name="identificacion" placeholder="Identificacion" [(ngModel)]="personalData.identificacion" required>
                    </div>

                    <div class="form-col mr-2 ">
                        <input type="number" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 " id="personasACargo" name="personasACargo" placeholder="personas A Cargo" [(ngModel)]="personalData.personasACargo" required>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <select title="Ciudad" [(ngModel)]="personalData.ciudad" id="ciudad" name="ciudad" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary " required>
                            <option *ngFor="let capital of ciudades" value="{{capital}}" >{{ capital }}</option>

                        </select>

                    </div>

                    <div class="form-col  ">
                        <select title="Departamento" id="departamento" name="departamento" [(ngModel)]="personalData.departamento" #departamento="ngModel" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary " required>
                            <option *ngFor="let departamentoIndex of departamentos" value="{{departamentoIndex}}"
                                >
                                {{ departamentoIndex }}
                            </option>

                        </select>



                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <input type="text" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="personalData.nombre" required>
                    </div>
                    <div class="form-col ">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2" id="apellidos" name="apellidos" placeholder="Apellidos" [(ngModel)]="personalData.apellidos" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col mr-5 " style="font-size:16px;">
                        <input type="email" style="font-size:1em;" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="correo" name="correo" placeholder="Correo electrónico" [(ngModel)]="personalData.correo" required>
                    </div>
                    <div class="form-col mr-2 ">
                        <input type="number" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2" id="numeroMovil" name="numeroMovil" placeholder="Numero celular" [(ngModel)]="personalData.numeroMovil" required>
                    </div>


                </div>

                <div class="form-row">

                    <div class="form-col mr-5 " style="font-size:16px;">
                        <input type="date" style="font-size:1em;" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="fechaNacimiento" name="fechaNacimiento" placeholder="Fecha de Nacimiento" [(ngModel)]="personalData.fechaNacimiento" required>
                    </div>


                </div>



                <div class="form-row">

                    <button type="submit" class="loginButton font-weight-bold  mr-3 w-50"  style="float:right;" [disabled]="!f.valid">Continuar</button>

                </div>


            </form>
        </div>

        <div id="formContent2" class="mt-3 w-100 mb-5">
            <!-- Login Form -->
            <form name="form" #g="ngForm" novalidate (ngSubmit)="registrar2()">

                <div class="form-row">

                    <div class="form-col mr-5 " style="font-size:16px;">
                        <input type="text" style="font-size:1em;" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" data-toggle="modal" data-target="#createModal" id="direccion" name="direccion" placeholder="Dirección Residencia" [(ngModel)]="personalData.direccion"
                            required>
                    </div>
                    <div class="form-col mr-2 w-25">
                        <select class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 " id="tipoVivienda" name="tipoVivienda" [(ngModel)]="personalData.tipoVivienda" required>

                            <option *ngFor="let tipoVivienda of viviendas" value="{{tipoVivienda}}">
                                {{tipoVivienda}}</option>
                        </select>

                    </div>
                    <div class="form-col mr-2 w-25">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 " id="telefonoFijo" name="telefonoFijo" placeholder="Teléfono fijo" [(ngModel)]="personalData.telefonoFijo" required>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-col mr-5 ">

                        <select required title="Vehículo" class="form-control   border-top-0  border-left-0  border-right-0 border-primary  " id="tipoCarro" name="tipoCarro" [(ngModel)]="personalData.tipoCarro">

                            <optgroup label="Vehiculos">
                                <option *ngFor="let vehiculo of vehiculos" value="{{vehiculo}}">{{vehiculo}}</option>
                            </optgroup>


                        </select>

                    </div>

                    <div class="form-col  w-50">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary " id="placa" name="placa" placeholder="Placa" [(ngModel)]="personalData.placa" required>
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <input type="text" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="marca" name="marca" placeholder="Marca" [(ngModel)]="personalData.marca" required>
                    </div>
                    <div class="form-col w-50">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2" id="modelo" name="modelo" placeholder="Modelo" [(ngModel)]="personalData.modelo" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col mr-5 " style="font-size:16px;">
                        <input type="text" style="font-size:1em;" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" data-toggle="modal" id="cuentaBancaria" name="cuentaBancaria" placeholder="Cuenta Bancaria" [(ngModel)]="personalData.cuentaBancaria"
                            required>
                    </div>
                    <div class="form-col mr-2 w-50">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2" id="entidadBancaria" name="entidadBancaria" placeholder="Entidad Bancaria" [(ngModel)]="personalData.entidadBancaria" required>
                    </div>


                </div>

                <div class="form-row">

                    <div class="form-col mr-5 " style="font-size:16px;">

                        <select class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="tipoDeCuenta" name="tipoDeCuenta" title="Tipo de Cuenta" [(ngModel)]="personalData.tipoDeCuenta" required>

                            <option *ngFor="let cuenta of cuentas" value="{{cuenta}}">{{cuenta}}</option>
                        </select>

                    </div>


                </div>



                <div class="form-row">

                    <button type="submit" class="loginButton font-weight-bold  mr-3 w-50" style="float:right;" [disabled]="!g.valid">Continuar</button>

                </div>


            </form>
        </div>
    </div>
</div>


<!-- Modal to create-->
<div #createModal class="modal fade " id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
    <div id="formModal" class="modal-dialog  w-100" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">!Estas muy cerca de ser parte de <strong>CREO</strong>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="form" (ngSubmit)="registrarDireccion()" #f="ngForm" novalidate>
                <div class="modal-body">

                    <div class="form-row">
                        <div class="form-col mr-5">

                            <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mr-4" name="calle" placeholder="Calle" [(ngModel)]="form.calle" required autocomplete="off">
                        </div>
                        <div class="form-col">

                            <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary " name="carrera" placeholder="Carrera" [(ngModel)]="form.carrera" required autocomplete="off">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-col mr-5 ">

                            <input type="text" class="form-control mt-2  border-1 border-top-0  border-left-0  border-right-0 border-primary mr-4" name="barrio" placeholder="Barrio" [(ngModel)]="form.barrio" required autocomplete="off">
                        </div>
                        <div class="form-col">

                            <input type="text" class="form-control mt-2  border-1 border-top-0  border-left-0  border-right-0 border-primary " name="numeroVivienda" placeholder="Casa/Apto" [(ngModel)]="form.numeroVivienda" required autocomplete="off">
                        </div>
                    </div>

                    <div class="form-rowform-group ">
                        <div class="form-col  mt-3">
                            <img src="{{googleMaps1}}" class="mr-5" alt="google maps" width="40%">
                            <button type="submit" class=" loginButton font-weight-bold  mt-5 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" [disabled]="!f.valid">Aceptar</button>
                        </div>



                    </div>

                </div>


            </form>
        </div>
    </div>
</div>