<div class="container ml-0">
    <div class="wrapper fadeInDown ">

        <div class="form-row pl-5 pb-2">

            <div class="form-col  mt-3 p-5">
                <img src="{{comprobantePago}}" alt="Pagaré">

            </div>

            <div class="form-col  p-5  paginaScreem">

                <div class="h-100 align-middle" id="formContent">
                    <div class="mb-3 mt-5">
                        <strong> Tu Oficina Virtual:</strong>
                    </div>

                    <div class="mb-5">
                        <strong>               
                            Pago con comprobante <br>
                        </strong> Podrás acercarte a cualquiera <br> de nuestros aliados para realizar <br> tu consignación.
                    </div>

                    <div class="text-danger mb-5">
                        *** Nota: Realizar con impresora laser <br> para mayor claridad
                    </div>


                    <div class=" mb-0">
                        <button class="btn btn-light ml-5 border-dark" (click)="goToPago()">Regresar</button>
                        <button class="btn btn-primary ml-4" (click)="descargarComprobante()">Descargar</button>

                    </div>

                </div>

            </div>

        </div>


    </div>
</div>