#NumeroSolicitud {
    max-width: 600px;
    padding: 0px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

.formContent {
    max-width: 650px;
    padding: 20px;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#divHeader {
    max-width: 650px;
    padding: 0px;
}

@media only screen and (min-width: 436px) and (max-width: 575px) {
    .estados {
        width: 25%;
    }
}

@media only screen and (min-width: 230px) and (max-width: 435px) {
    .estados {
        width: 50%;
    }
}