<div *ngIf="isLogin" class="container ml-0">
    <div class="wrapper fadeInDown ">


        <div class="form-row p-25 w-100 mt-5 formContent">
            <div *ngIf="isValidSolicitudCredito" class="form-col ">
                <label class="form-check-label align-text-middle mr-5 mt-2">Número de Solicitud</label>
                <span class=" font-weight-bold text-secondary mr-5 mt-2">{{solicitudCredito.numeroSolicitud}} </span>
                <button class="btn btn-primary mt-2 " (click)="generarPagare()">Descargar</button>
            </div>


        </div>

        <div class="form-row  w-100 mt-3" id="divHeader">
            <div class="form-col   col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2 estados" id="estado1">
                <img src="{{imgSolicitudRadicada}}" alt="Solicitud radicada" title="Solicitud radicada" class="">

            </div>
            <div class="form-col col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2 estados" id="estado2">
                <img src="{{imgValidacionInformacion}}" alt="Validacion informacion" title="Validacion informacion" class="">
            </div>

            <div class="form-col col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2 estados" id="estado3">
                <img src="{{imgAprobacionDirector}}" alt="Aprobacion director" title="Aprobacion director" class="">

            </div>
            <div class="form-col  col-sm-3 col-md-3 col-lg-3 col-xl-3 mt-2 estados" id="estado4">
                <img src="{{imgEntregaDinero}}" alt="Entrega de dinero" title="Entrega de dinero" class="">

            </div>

        </div>

        <div class="form-row  w-100 mt-2  mb-5  formContent">

            <div class="form-col mt-3 w-100 mb-5">

                <img src="{{check}}" width="50px " height="50px " class="d-inline " alt="checked ">
                <label class="form-check-label align-text-middle mb-4 ml-3 ">solicitud radicada</label><br>

                <img src="{{check}} " width="50px " height="50px " class="d-inline " alt="checked ">
                <label class="form-check-label align-text-middle mb-4 ml-3 ">Validacion informacion</label><br>

                <img src="{{check}} " width="50px " height="50px " class="d-inline " alt="checked ">
                <label class="form-check-label align-text-middle mb-4 ml-3 "><strong>Aprobacion
                        director</strong></label><br>

                <img src="{{check}} " width="50px " height="50px " class="d-inline " alt="checked ">
                <label class="form-check-label align-text-middle mb-4 ml-3 ">Entrega de dinero</label><br>



            </div>

            <div class="form-col mr-5 credito ">
                <button [disabled]="!isValidSolicitudCredito " (click)="goToEntrega() " class="btn btn-primary align-text-bottom " style="float: right; ">Continuar</button>
            </div>


        </div>


    </div>




</div>