<div class="container ml-0 mt-5">
    <div class="row justify-content-center">
        <div class=" col-8 col-sm-8 col-md-5 col-lg-5 col-xl-5  wrapper fadeInDown">
            <div id="formContent ">

                <!-- Login Form -->
                <form name="form" #f="ngForm" novalidate (ngSubmit)="onLogin()">

                    <div class="form-group">
                        <label>Ingresa a tu Oficina Virtual</label>
                    </div>

                    <div class="form-group">
                        <input type="text"
                            class="form-control  border-top-0  border-left-0  border-right-0 border-primary w-75"
                            id="username" name="username" #username="ngModel" placeholder="Nombre de Usuario"
                            [(ngModel)]="user.username" required minlength="7">

                        <div *ngIf="username.invalid && (username.dirty || username.touched)"
                            class="alert alert-danger">
                            usuario inválido
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" pattern="^(?=\w*\d)(?=\w*[A-Z])(?=\w*[a-z])\S{8,16}$"
                            class="form-control border-top-0  border-left-0  border-right-0 border-primary w-75"
                            id="password" name="password" #password="ngModel" placeholder="Contraseña"
                            [(ngModel)]="user.password" minlength="8" required>

                        <div *ngIf="(password.invalid && (password.dirty || password.touched))"
                            class="alert alert-danger">
                            contraseña inválida
                        </div>
                    </div>


                    <div class="form-check">
                        <label class="form-check-label mb-4"><strong>¿Olvidaste tu usuario o
                                contraseña?</strong></label><br>
                        <input class="form-check-input" type="checkbox" (click)="recordarUsuario()">
                        <label class="form-check-label" style="color: darkgray;"> Recordar mi nombre de usuario</label>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="loginButton font-weight-bold w-75"
                            [disabled]="!f.valid">Ingresar</button>
                        <div *ngIf="f.submitted && isLoginFail" class="alert alert-danger mt-3">Error al Iniciar sesión:
                            {{ errorMsg }}</div>
                    </div>

                    <div class="form-group">
                        <label>¿No te has registrado?</label><br>
                        <a (click)="registrar()" routerLink="/">Registrate ahora</a>
                    </div>
                </form>
            </div>
        </div>

        <div class=" col-8 col-sm-8 col-md-5 col-lg-5 col-xl-5  wrapper fadeInDown  mt-1">



            <iframe  title="Oficina Virtual" class="embed-responsive-item"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15907.893075428965!2d-74.15921630223454!3d4.598811193088821!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x4976d36b89f892a7!2sBancolombia%20Corresponsal%20Bancario!5e0!3m2!1ses-419!2sco!4v1603229044093!5m2!1ses-419!2sco"
                width="300" height="450"  style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>


            <label class="mt-5 text-center" style="font-size: 16px;"><strong>¡Tu Oficina Virtual:</strong> haz pagos,
                crédito <br> oportuno, consultas y mucho más!</label>

        </div>

    </div>

</div>

