* {
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

#formContent,
#formModal {
    background: #fff;
    padding: 20px;
    max-width: 800px;
    position: relative;
    text-align: left;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#divHeader {
    max-width: 800px;
    padding: 30px;
    -webkit-box-shadow: 2px 2px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: -3px 3px 3px 3px rgba(0, 0, 0, 0.3);
}

.loginButton {
    background-color: #0D4193;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    font-size: 16px;
    width: 40%;
    box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    border-radius: 8px;
}

.loginButton:hover {
    background-color: #4872b6;
}

@media screen and (min-width: 775px) and (max-width: 1446px) {
    .loginButton {
        width: 25%;
    }
    button[title*="continuar"] {
        width: 25%;
    }
}


/* bigger laptops */

@media only screen and (min-width: 1224px) {}


/* Desktops and laptops ----------- */

@media only screen and (min-width: 850px) and (max-width: 1024px) {}


/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width: 550px) and (max-width: 800px) {
    .loginButton {
        width: 25%;
    }
    button[title*="continuar"] {
        width: 25%;
    }
}


/* mobiles (landscape and portrait) */

@media only screen and (min-width: 320px) and (max-width: 500px) {
    .loginButton {
        width: 50%;
    }
    button[title*="continuar"] {
        width: 50%;
    }
}