<div *ngIf="isLogin" class="container ml-0">
    <div class="wrapper fadeInDown ">

        <div class="form-group align-text-middle mt-3">
            <label class="form-check-label align-text-middle"><strong>Solicitud de Crédito</strong></label><br>
            <label class="form-check-label align-text-middle mb-4">Codeudores</label><br>
        </div>

        <div style="width: 800px;">
            <app-update-tabs *ngIf="isUpdate"></app-update-tabs>
        </div>



        <div class="form-row p-25 w-100" id="divHeader">
            <div class="form-col mr-5 ">
                <label class="form-check-label">!Estas muy cerca de ser parte de <strong>CREO</strong> </label>
            </div>

            <div class="form-col w-50 ">

            </div>

        </div>


        <div id="formContent" class="mt-3 w-100 mb-5">
            <!-- create Form -->
            <form name="form" #f="ngForm" novalidate (ngSubmit)="adjuntar()">

                <div class="form-row">

                    <div class="form-col mr-5  col-10 col-sm-5 col-md-5 col-lg-5 col-xl-5" style="font-size:16px;">

                        <select class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2 " id="tipoIdentificacion" name="tipoIdentificacion" title="Tipo de Documento" [(ngModel)]="codebtor.tipoIdentificacion" required>

                            <option *ngFor="let tipoDeDocumento of  tiposDeDocumento" value="{{tipoDeDocumento}}">
                                {{tipoDeDocumento}}</option>
                        </select>

                    </div>
                    <div class="form-col col-10 col-sm-5 col-md-5 col-lg-5 col-xl-5 ">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 " id="identificacion" name="identificacion" placeholder="Numero de documento" [(ngModel)]="codebtor.identificacion" required>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-col mr-5  col-10 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                        <input type="text" class="form-control   border-top-0  border-left-0  border-right-0 border-primary  " id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="codebtor.nombre" required>
                    </div>

                    <div class="form-col  col-10 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary " id="apellidos" name="apellidos" placeholder="Apellidos" [(ngModel)]="codebtor.apellidos" required>
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-col mr-5 col-10 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                        <input type="text" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="empresa" name="empresa" placeholder="Empresa donde trabaja" [(ngModel)]="codebtor.empresa" required>
                    </div>
                    <div class="form-col col-10 col-sm-5 col-md-5 col-lg-5 col-xl-5">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2" id="telefono" name="telefono" placeholder="Teléfono" [(ngModel)]="codebtor.telefono" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col mr-5 col-10 col-sm-5 col-md-5 col-lg-5 col-xl-5" style="font-size:16px;">
                        <input type="number" style="font-size:1em;" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="ingreso" name="ingreso" placeholder="Ingreso" [(ngModel)]="codebtor.ingreso" required>
                    </div>

                </div>


                <div class="form-row mt-3 mb-3">

                    <button type="submit" title="adjuntar" style="float:right;" class="loginButton font-weight-bold  mr-3 " style="float:right;" [disabled]="!f.valid">Adjuntar</button>

                    <div *ngIf="isError" class="form-col  alert alert-danger mt-3">
                        {{ errorMsg }}
                    </div>

                </div>

            </form>

            <div style="overflow: scroll;">

                <table class="table table-striped table-white mb-3">

                    <thead class="bg-primary text-white text-center">
                        <tr>
                            <th scope="col">Editar</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Documento</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellidos</th>
                            <th scope="col">Empresa</th>
                            <th scope="col">Telefono</th>


                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let codebtor of codebtors" class="text-center">
                            <td>
                                <button (click)="getCurrentCodebtor(user.id,codebtor.identificacion)" data-toggle="modal" data-target="#createModal" class="btn btn-primary" title="actualizar registro">Actualizar</button><br />

                            </td>
                            <th scope="row">{{codebtor.tipoIdentificacion}}</th>
                            <td>{{codebtor.identificacion}}</td>
                            <td>{{codebtor.nombre}}</td>
                            <td>{{codebtor.apellidos}}</td>
                            <td>{{codebtor.empresa}}</td>
                            <td>{{codebtor.telefono}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="form-row">

                <button (click)="continuar()" type="submit" title="continuar" class="loginButton font-weight-bold  mr-3 " style="float:right;">Continuar</button>

            </div>





        </div>


    </div>
</div>

<!-- Modal to create-->
<div #createModal class="modal fade " id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModal" aria-hidden="true">
    <div id="formModal" class="modal-dialog  w-100" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createModalLabel">!Estas muy cerca de ser parte de <strong>CREO</strong>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form name="form" #f="ngForm" novalidate (ngSubmit)="onUpdate(codebtorForm)">

                <div class="form-row">

                    <div class="form-col mr-5 " style="font-size:16px;">

                        <select class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2 " id="tipoIdentificacion" name="tipoIdentificacion" title="Tipo de Documento" [(ngModel)]="codebtorForm.tipoIdentificacion" required>

                            <option *ngFor="let tipoDeDocumento of  tiposDeDocumento" value="{{tipoDeDocumento}}">
                                {{tipoDeDocumento}}</option>
                        </select>
                    </div>
                    <div class="form-col mr-2 col-10 col-sm-6 col-md-5 col-lg-5 col-xl-5">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2 " id="identificacion" name="identificacion" placeholder="Numero de documento" [(ngModel)]="codebtorForm.identificacion" required>
                    </div>


                </div>


                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <input type="text" class="form-control   border-top-0  border-left-0  border-right-0 border-primary  " id="nombre" name="nombre" placeholder="Nombre" [(ngModel)]="codebtorForm.nombre" required>
                    </div>

                    <div class="form-col  ">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary " id="apellidos" name="apellidos" placeholder="Apellidos" [(ngModel)]="codebtorForm.apellidos" required>
                    </div>


                </div>

                <div class="form-row">
                    <div class="form-col mr-5 ">
                        <input type="text" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="empresa" name="empresa" placeholder="Empresa donde trabaja" [(ngModel)]="codebtorForm.empresa" required>
                    </div>
                    <div class="form-col ">
                        <input type="text" class="form-control border-1 border-top-0  border-left-0  border-right-0 border-primary mt-2" id="telefono" name="telefono" placeholder="Teléfono" [(ngModel)]="codebtorForm.telefono" required>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-col mr-5 " style="font-size:16px;">
                        <input type="number" style="font-size:1em;" class="form-control  border-top-0  border-left-0  border-right-0 border-primary mt-2" id="ingreso" name="ingreso" placeholder="Ingreso" [(ngModel)]="codebtorForm.ingreso" required>
                    </div>

                </div>


                <div class="form-row">

                    <button type="submit" style="float:right;" class="loginButton font-weight-bold  mr-3 w-25" style="float:right;" [disabled]="!f.valid">Continuar</button>

                </div>


            </form>
        </div>
    </div>
</div>